.wrapper {
    height: 708px;
    width: 100%;
    z-index: 1;
    background-image: url("https://wordpress.altdesain.com/beautice/beautyclinic/wp-content/uploads/2021/11/footer_bg1.png");
}
.inner {
    height: 530px;
    display: flex;

    .contact {
        width: 50%;
        z-index: 2;
        margin-top: 250px;
        margin-left: 200px;
    }
    // contact
    .footer-01 {
        height: 280px;
        z-index: 2;
        .logo-footer {
            margin-bottom: 25px;
        }
        .text-01 {
            color: #d7dbff;
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            margin-bottom: 25px;
        }
        .text-02 {
            color: #d7dbff;
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
        }
        .text-34 {
            margin-top: 20px;
        }
        .text-03 {
            padding-top: 20px;
            color: #d7dbff;
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-right: 100px;
        }
        .text-04 {
            color: #d7dbff;
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .page-info {
        margin-top: 250px;
        width: 50%;
        z-index: 2;
        display: flex;
        color: white;
        height: 280px;
        .page {
            width: 50%;
            .text-page-1 {
                margin-left: 10px;
                margin-bottom: 25px;
            }
            .text-col {
                font-size: 16px;
            }
            .play-footer {
                margin-right: 10px;
            }
        }
        .info {
            width: 50%;
            .text-page-2 {
                margin-bottom: 25px;
            }
            .play-footer {
                border: none;
                margin-right: 10px;
            }
        }
    }
}
.footer {
    height: 170px;
    width: 100%;
    z-index: 2;
    display: flex;

    .footer-left {
        width: 50%;
        z-index: 2;
        margin-left: 200px;
        margin-right: 300px;
        .icon-socical {
            margin-top: 3rem;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: space-around;
        }
        .pink-icon {
            color: white;
            cursor: pointer;
            &:hover {
                color: pink;
            }
        }
    }
    .footer-right {
        width: 70%;
        z-index: 2;
    }
    .text-right {
        margin-top: 3rem;
        color: #d7dbff;
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}
