.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
// Ảnh nền
.wrapper {
    left: 0;
    top: 0;
    width: 1440;
    background-image: url("https://wordpress.altdesain.com/beautice/beautyclinic/wp-content/uploads/2021/11/slide-background1-large.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    width: var(--defaultlayout-header-width);
}
